# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# npm
node_modules
*.log
*.gz
/node_modules
/build
request.rest
.env
.env.prod
.env.local
.env.development.local
.env.test.local
.env.production.local